services:
  nginx:
    image: nginx:stable
    container_name: nginx
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - flask

  flask:
    build: ./app
    container_name: flask
    expose:
      - "5050"