{% extends "base.html" %}

{% block content %}


<style>
    .intro-label {
        margin-left: 10%;
        padding-top: 10%;
    }
    .intro-sublabel {
        margin-left: 20%;
        padding-top: 5%;
    }
</style>

<div class="content">
    <div class="p1">
        <div class="p1-1">
            <h1 class="intro-label">Hello, I'm Sean Ma</h1>
            <h3 class="intro-sublabel">Creative Software Developer</h3>
        </div>
        <div class="p1-2">

        </div>
    </div>
    <div class="p2">
        <img class="profile-photo" src="{{url_for('static', filename='asset/real_handsome.png')}}">
    </div>
</div>
{% endblock %}