{% extends "base.html" %}

{% block content %}


<style>
    .intro-label {
        margin-left: 10%;
        padding-top: 10%;
    }
    .intro-sublabel {
        margin-left: 20%;
        padding-top: 5%;
    }
</style>


<div>
    <h1 style="text-align: center;">關於我</h1>
    <p style="text-align: center; width: 30vw; padding: 0px 35vw;">
        「我是一位獨立且充滿探索精神的人，重視對話中的新穎和互動性。可能擁有快速的思考能力，能夠在一個開放的場景中迅速找到一個有趣的切入點。」
    </p>

</div>
<div class="content">
    <div class="p1">
        <div class="p1-1">
            <h1 class="intro-label">Hello, I'm Sean Ma</h1>
            <h3 class="intro-sublabel">Creative Software Developer</h3>
        </div>
        <div class="p1-2">
            <p style="padding: 30px;font-size: larger;">
                身為一個軟體開發者:
            </p>
             <p style="padding: 30px;font-size: larger;">
                我 從來不墨守成規,也不相信有甚麼是絕對沒有辦法做的,
                永遠尋找更好的開發方法,才是我的方法!
            </p>
        </div>
    </div>
    <div class="p2">
        <img class="profile-photo" src="{{url_for('static', filename='asset/real_handsome.png')}}">
    </div>
</div>
{% endblock %}